.operator{
    border-radius: 5px; 
  }
.button-wrapper{
    
    height:4em;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 24px;
    background-color:#ADC4CE;
    border-radius: 50%; 
    color: white;
    flex: 1;
   
}
.button-small{
  height:2em;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 15px;
  background-color:#ADC4CE;
  border-radius: 50%; 
  color: white;
  flex: 1;
}

